<%
    viewBag.pageTitle = 'FED - 用户管理';
    viewBag.cssFiles = ['user-manage'];
    viewBag.menu = 'user-manage';
%>

<%- include('../../common/header.ejs') %>

<%- include('../../common/manage-nav.ejs') %>

<%- include('../../common/manage-menu.ejs') %>

	<div class="page-manage-content user-manage">
		<div class="clearfix operation-wrap">
			<div class="operation"></div>
			<div class="search">
				<input type="text" id="textbox-search">
				<span class="btn-search" id="btn-search"><span class="fa fa-search"></span></span>
			</div>
		</div>
		<div class="list">
			<ul class="clearfix" id="grid-wrap"></ul>
		</div>
		<div class="paging" id="paging-wrap">
			<ul>
				<li class="total">Total: <span data-field="total"></span></li>
				<li class="records"><span data-field="current">1</span>/<span data-field="records">10</span></li>
				<li class="page first" data-action="first"><i class="fa fa-angle-double-left"></i></li>
				<li class="page prev" data-action="prev"><i class="fa fa-angle-left"></i></li>
				<li class="page next" data-action="next"><i class="fa fa-angle-right"></i></li>
				<li class="page last" data-action="last"><i class="fa fa-angle-double-right"></i></li>
			</ul>
		</div>
	</div>

	<script type="x-tmpl-mustache" id="grid-template">
		{{#records}}
			<li>
				<div class="item-container clearfix">
					<div class="avatar">
						<img src="" alt="">
					</div>
					<div class="info">
						<div>
							<h4>{{username}}</h4>
							<p>{{email}}</p>
							<small>{{roleName}}</small> - <small>{{statusName}}</small>
						</div>
					</div>
					<div class="operation">
						<span>
							{{^status}}
							<a href="javascript:;" data-id="{{_id}}" data-action="enable">启用</a>
							{{/status}}
							{{#status}}
							<a href="javascript:;" data-id="{{_id}}" data-action="disable">禁用</a>
							{{/status}}
						</span>
						<span>
							<a href="javascript:;" data-id="{{_id}}" data-action="del">删除</a>	
						</span>
					</div>
				</div>
			</li>
		{{/records}}
	</script>

<%
    viewBag.scriptsFiles = ['pages/manage/user/user'];
%>

<%- include('../../common/footer.ejs') %>


