<%
    viewBag.pageTitle = 'FED - 用户管理';
    viewBag.cssFiles = ['user-manage'];
    viewBag.menu = 'user-manage';
%>

<%- include('../../common/header.ejs') %>

<%- include('../../common/manage-nav.ejs') %>

<%- include('../../common/manage-menu.ejs') %>

	<div class="page-manage-content user-manage">
		<div class="clearfix operation-wrap">
			<div class="operation"></div>
			<div class="search">
				<input type="text">
				<span class="btn-search"><span class="fa fa-search"></span></span>
			</div>
		</div>
		<div class="list">
			<ul class="clearfix" id="user-list-wrap">
			</ul>
		</div>
	</div>

	<script type="x-tmpl-mustache" id="user-list-template">
		{{#records}}
			<li>
				<div class="item-container clearfix">
					<div class="avatar">
						<img src="" alt="">
					</div>
					<div class="info">
						<div>
							<h4>{{username}}</h4>
							<p>{{email}}</p>
							<small>已启用</small>
						</div>
					</div>
					<div class="operation">
						<span>
							<a href="javascript:;">禁用</a>
						</span>
						<span>
							<a href="javascript:;">删除</a>	
						</span>
					</div>
				</div>
			</li>
		{{/records}}
	</script>

<%
    viewBag.scriptsFiles = ['pages/manage/user/user'];
%>

<%- include('../../common/footer.ejs') %>


