#page-loading {
	background: rgba(255, 255, 255, 0.5);
	position: fixed;
	z-index: 111;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: none;
}
#page-loading .loading-wrap {
	position: fixed;
	z-index: 112;
	top: 50%;
    left: 50%;
    transform: translate(-20px, -20px);
}
#page-loading .loading-wrap div {
	position: relative;
}
#page-loading .loading-wrap div .fa-cloud {
	position: absolute;
}
#page-loading.loading .fa-cloud {
	z-index: 3;
	animation: 800ms cloudmove linear infinite alternate-reverse;
}
#page-loading.loading .fa-sun-o {
	display: none;
}
@keyframes cloudmove{
	from {
		transform: translateY(-10px);
	}
	to {
		transform: translateY(10px);
	}
}
/*#page-loading.success .fa-cloud {
	transform: scale(0);
}*/
#page-loading.success .fa-cloud {
	animation: 2s scalecloud;
	transform: scale(0);
}
@keyframes scalecloud {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
#page-loading.success .fa-sun-o {
	display: block;
	animation: 1s sunmove backwards linear 1;
	position: absolute;
	z-index: 2;
	margin-top: -50px;
	margin-left: -140px;
	transform: scale(1.4);
	color: #fc8507;
}
@keyframes sunmove {
	0% {
		margin-top: 10px;
		margin-left: 10px;
		color: #424242;
		transform: scale(0.8);
	}
	20% {
		margin-top: -30px;
		margin-left: -30px;
	}
	40% {
		margin-top: -50px;
		margin-left: -60px;	
	}
	60% {
		margin-top: -60px;
		margin-left: -90px;	
	}
	80% {
		margin-top: -60px;
		margin-left: -120px;	
	}
	100% {
		color: #fc8507;
		margin-top: -50px;
		margin-left: -140px;
		transform: scale(1.4);
	}
}

#page-prompt-wrap {
	display: none;
	position: fixed;
	background: rgba(255, 255, 255, 0.7);
	z-index: 100;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
#page-prompt {
	width: 450px;
	position: fixed;
	left: 50%;
	margin-left: -225px;
	margin-top: 200px;
	background: #fff;
	box-shadow: 0 1px 5px 0px #ddd;
}
#page-prompt .header {
	padding: 10px;
	line-height: 1.5;
}
#page-prompt .header .close {
	float: right;
	text-decoration: none;
	color: #7fc857;
}
#page-prompt .body {
	padding: 5px 10px;
	line-height: 1.5;
}
#page-prompt .footer {
	text-align: right;
	padding: 10px;
}
#page-prompt .footer button {
	margin-left: 10px;
}

#page-nav {
	background: #fff;
	padding: 15px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
#page-nav.manage {
	width: auto;
}
@media screen and (max-width: 1000px) {
    #page-nav {
        width: auto;
        left: 0;
        margin-left: 0;
        position: inherit;
    }
}
#page-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
}
#page-nav ul li {
	float: left;
	list-style: none;
}
#page-nav ul:first-of-type {
	float: left;
	margin-left: 30px;
	line-height: 2;
}
#page-nav ul:first-of-type li {
	margin-right: 10px;
}
#page-nav ul:first-of-type a {
	color: #424242;
}
#page-nav ul:last-of-type {
	float: right;
}
#page-nav ul:last-of-type li {
	margin-left: 10px;
}
#page-nav ul:last-of-type li .btn {
	padding-left: 20px;
	padding-right: 20px;
}
#page-nav ul:last-of-type li:last-of-type {
	line-height: 2;
}
#page-nav .logo {
	position: absolute;
	left: 10px;
	top: 10px;
}
#page-manage-menu {
	position: fixed;
	top: 145px;
	left: 50px;
	background: #f7f7f7;
	margin: 0;
	padding: 0;
	border-radius: 4px;
	box-shadow: 0 1px 5px 0px #ddd;
}
#page-manage-menu ul {
	margin: 0;
	padding: 10px 0;
}
#page-manage-menu ul li {
	list-style: none;
	font-size: 14px;
	padding: 8px 24px;
	position: relative;
}
#page-manage-menu ul li:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 3px;
	transform: scale(0);
	height: 100%;
	background: #7fc857;
}
#page-manage-menu ul li a {
	text-decoration: none;
	color: #888;
}
#page-manage-menu ul li:hover:before {
	background: #7fc857;
	transform: scale(1, 1);
}
#page-manage-menu ul li.active:before {
	transform: scale(1);
	background: #7fc857;
}

.page-manage-content {
	margin-left: 300px;
}

/* page-msg */
#page-msg {
	position: fixed;
	top: 50px;
	right: 20px;
	width: 400px;
	z-index: 100;
}
#page-msg .msg {
	margin-bottom: 10px;
	position: relative;
	padding: 10px;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.7);
}
#page-msg .msg p {
	margin: 0 20px 0 0;
	line-height: 1.3;
	font-size: 12px;
}
#page-msg .msg .close {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 7px;
	right: 5px;
	z-index: 101;
	font-size: 15px;
	text-decoration: none;
	color: #c0c4cc;
	text-align: center;
	line-height: 15px;
}
#page-msg .msg.ok {
	background: #f0f9eb;
}
#page-msg .msg.ok p {
	color: #67C23A;
}
#page-msg .msg.error {
	background: #fef0f0;
}
#page-msg .msg.error p {
	color: #F56C6C;
}
#page-msg .msg.warning {
	background: #fdf6ec;
}
#page-msg .msg.warning p {
	color: #E6A23C;
}
#page-msg .msg.info {
	background: #f4f4f5;
}
#page-msg .msg.info {
	color: #909399;
}
