#page-loading {
	background: rgba(255, 255, 255, 0.5);
	position: fixed;
	z-index: 9999999;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: none;
}
#page-loading div {
	margin-top: 50%;
    margin-left: 50%;
    transform: translate(-20px, -20px);
}
#page-loading div .fa {
	color: #7fc857;
}

#page-prompt-wrap {
	display: none;
	position: fixed;
	background: rgba(255, 255, 255, 0.7);
	z-index: 100;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
#page-prompt {
	width: 450px;
	position: fixed;
	left: 50%;
	margin-left: -225px;
	margin-top: 200px;
	background: #fff;
	box-shadow: 0 1px 5px 0px #ddd;
}
#page-prompt .header {
	padding: 10px;
	line-height: 1.5;
}
#page-prompt .header .close {
	float: right;
	text-decoration: none;
	color: #7fc857;
}
#page-prompt .body {
	padding: 5px 10px;
	line-height: 1.5;
}
#page-prompt .footer {
	text-align: right;
	padding: 10px;
}
#page-prompt .footer button {
	margin-left: 10px;
}

#page-nav {
	background: #fff;
	padding: 15px;
	width: 1000px;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -500px;
	z-index: 1;
}
#page-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
}
#page-nav ul li {
	float: left;
	list-style: none;
}
#page-nav ul:first-of-type {
	float: left;
	margin-left: 30px;
}
#page-nav ul:first-of-type li {
	margin-right: 10px;
}
#page-nav ul a {
	color: #424242;
}
#page-nav ul:last-of-type {
	float: right;
}
#page-nav ul:last-of-type li {
	margin-left: 10px;
}
#page-nav .logo {
	position: absolute;
	left: 10px;
	top: 3px;
}