	
	<%- include('loading.ejs') %>
	<%- include('prompt.ejs') %>

	<script src="/scripts/lib/require.js"></script>
	<script src="/scripts/config/requireConfig.js"></script>

	<% if(viewBag.scriptsFiles) { %>
		<% viewBag.scriptsFiles.forEach(function(scriptFile) { %>
			<script src="<%= '/scripts/' + scriptFile + '.js' %>"></script>
		<% }) %>
	<% } %>
	</body>
</html>