	
	<script src="/scripts/lib/require.js"></script>
	<script src="/scripts/common/requireConfig.js"></script>

	<% if(viewBag.scriptsFiles) { %>
		<% viewBag.scriptsFiles.forEach(function(script) { %>
			<script src="<%= script %>"></script>
		<% }) %>
	<% } %>
	</body>
</html>