<div id="page-loading" class="success">
	<div class="loading-wrap">
		<div>
			<!-- <span class="fa fa-spinner fa-pulse fa-fw fa-3x"></span> -->
			<span class="cloud fa fa-3x fa-cloud"></span>
			<span class="sun fa fa-2x fa-sun-o"></span>
		</div>
	</div>
</div>