<menu id="page-manage-menu">
	
	<ul>
		<li>
			<a href="/account">My account</a>
		</li>
		<li>
			<a href="/project">My project</a>
		</li>
		<li>
			<a href="/upload-project">Upload project</a>
		</li>
		<li>
			<a href="/user-manage">User management</a>
		</li>
		<li>
			<a href="/project-manage">Project management</a>
		</li>
	</ul>

</menu>