<div id="page-msg">
	
</div>

<!--
	content:

	<div class="msg ok">
		<p>
			{{msg}}
		</p>
		<a href="javascript:;" class="close">×</a>
	</div>
	<div class="msg error">
		<p>
			{{msg}}
		</p>
		<a href="javascript:;" class="close">×</a>
	</div>
	<div class="msg warning">
		<p>
			{{msg}}
		</p>
		<a href="javascript:;" class="close">×</a>
	</div>
	<div class="msg info">
		<p>
			{{msg}}
		</p>
		<a href="javascript:;" class="close">×</a>
	</div>
-->