<nav id="page-nav" class="clearfix">
	<div class="logo">
		<span class="windmill fa-spin"></span>
		<span class="triangle"></span>
	</div>
	<ul class="nav-left">
		<% if (viewBag.user) { %>
			<li>Welcome, <%= viewBag.user.username %></li>
		<% } else { %>
			<li><a href="/login" class="text-link">Login</a></li>
			<li><a href="/register" class="text-link">Register</a></li>
		<% } %>
	</ul>
	<ul class="nav-right">
		<li>
			<a href="/account" class="btn btn-default">
				<span class="icon fa fa-magic"></span>
				<span class="text">My manage</span>
			</a>
		</li>
		<li>
			<a href="/upload-project" class="btn btn-primary">
				<span class="icon fa fa-cloud-upload"></span>
				<span class="text">Upload project</span>
			</a>
		</li>
		<% if (viewBag.user) { %>
			<li><a href="/logout" class="text-link">logout</a></li>
		<% } %>
	</ul>
</nav>