<nav id="page-nav" class="clearfix">
	<ul class="nav-left">
		<li><a href="/login" class="text-link">登录</a></li>
		<li><a href="/login" class="text-link">没有账号？注册一个</a></li>
	</ul>
	<ul class="nav-right">
		<li><a href="/logout" class="text-link">退出</a></li>
	</ul>
</nav>