<nav id="page-nav" class="clearfix">
	<div class="logo">
		<span class="windmill fa-spin"></span>
		<span class="triangle"></span>
	</div>
	<ul class="nav-left">
		<% if (viewBag.user) { %>
			<li>欢迎你，<%= viewBag.user.username %></li>
		<% } else { %>
			<li><a href="/login" class="text-link">登录</a></li>
			<li><a href="/login" class="text-link">没有账号？注册一个</a></li>
		<% } %>
	</ul>
	<ul class="nav-right">
		<% if (viewBag.user) { %>
			<li><a href="/manage" class="text-link">我的管理</a></li>
			<li><a href="/manage" class="text-link">上传项目</a></li>
		<% } else { %>
			<li><a href="/logout" class="text-link">退出</a></li>
		<% } %>
	</ul>
</nav>