<%
    viewBag.pageTitle = 'FED - 注册';
    viewBag.cssFiles = ['register'];
%>

<%- include('../common/header.ejs') %>
    
    <form action="/login" method="post">
    	
    	<div>
    		<label>username:</label>
    		<input id="username" name="username" type="text">
    	</div>
		<div>
			<label>password:</label>
			<input id="password" name="password" type="text">
		</div>
		<div>
			<input type="submit">
		</div>

    </form>

<%
    viewBag.scriptsFiles = ['/scripts/pages/register/register.js'];
%>

<%- include('../common/footer.ejs') %>
