<%
    viewBag.pageTitle = 'FED - 首页';
    viewBag.cssFiles = ['home'];
%>

<%- include('../common/header.ejs') %>

<%- include('../common/nav.ejs') %>

<div class="home-wrap">
	<div class="home-focus">
		<div></div>
		<div></div>
	</div>
	<div class="slope"></div>
</div>

<%
    viewBag.scriptsFiles = ['pages/home/home'];
%>

<%- include('../common/footer.ejs') %>