<%
    viewBag.pageTitle = 'FED - 首页';
    viewBag.cssFiles = ['home'];
%>

<%- include('../common/header.ejs') %>

<%- include('../common/nav.ejs') %>

<div class="home-wrap">
	<div class="home-focus">
		<div></div>
		<div></div>
	</div>
	<div class="slope-wrap">
		<div class="car-wrap">
			<span class="fire" aria-hidden="true"></span>
			<span class="car"></span>
		</div>
		<div class="slope"></div>
	</div>
</div>

<%
    viewBag.scriptsFiles = ['pages/home/home'];
%>

<%- include('../common/footer.ejs') %>