<%
    viewBag.pageTitle = 'FED - 登录';
    viewBag.cssFiles = ['register'];
%>

<%- include('../common/header.ejs') %>

    <div class="register-head">
        <div class="text">Thank you for logging in</div>
    </div>

    <div class="register-body" id="register-body">
        <h2>Login FED</h2>
        <div class="form-item">
            <div class="textbox">
                <input type="text" id="username" max="18">
            </div>
            <label class="label">Username / Email</label>
        </div>
        <div class="form-item">
            <div class="textbox">
                <input type="password" id="password" max="18">
            </div>
            <label class="label">Password</label>
        </div>
        <div class="form-btn">
            <button id="submit"><i class="fa fa-spinner fa-pulse fa-fw icon"></i>Submit</button>
        </div>
        <div class="info">
            No account, <a href="/register" class="text-link">register</a> one
        </div>
    </div>

<%
    viewBag.scriptsFiles = ['common/inputLabel','pages/login/login'];
%>

<%- include('../common/footer.ejs') %>